@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700;800&display=swap');

:root {
  --white: #fff;
  --grey: #353535;
  --grey1: #f5f5f5;
  --black: #000;
  --font: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.responsive {
  margin: 0 auto;
}

header {
  width: 100%;
  padding: 15px 0;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftNav {
  display: inline-flex;
  align-items: center;
}

.leftNav .logo a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.leftNav .logo a span {
  color: var(--black);
  font-size: 25px;
  font-weight: 700;
}

nav {
  margin-left: 1.2rem;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

nav ul li a {
  color: var(--black);
}

nav ul li a:hover {
  color: var(--black);
}

.contactNav a button {
  color: var(--white);
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid var(--black);
  background-color: var(--black);
  transition: .15s ease-in-out;
}

.contactNav a button:hover {
  color: var(--black);
  border: 1px solid var(--black);
  background-color: var(--white);
}

.homeHeroBanner {
  overflow: hidden;
  /* background-color: #f4ffa2; */
}

.heroContent {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: calc(100vh - 75px);
}

.heroContent h1 {
  font-size: 6.5rem;
  font-weight: 700;
  line-height: 1;
}

.heroContent p {
  font-size: 1.5rem;
}

.about {
  background-color: var(--grey1);
}

.content {
  padding: 4.5rem 0;
}

.content h2 {
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
}

.content h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.content p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.skills {
  background-color: #f4ffa2;
}

.buttons {
  width: 50%;
}

.buttons button {
  color: var(--black);
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin-right: .5rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 5px;
  background-color: var(--grey1);
  transition: .15s ease-in-out;
}

.buttons button:hover {
  color: var(--grey1);
  background-color: var(--black);
}

.backToTop .responsive .content {
  padding-top: 0 !important;
}

.backToTop .responsive .content div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}

.backToTop .responsive .content div a {
  color: #bbbbbb;
  transition: .15s ease-in-out;
}

.backToTop .responsive .content div a:hover {
  color: #afafaf;
}

@media screen and (min-width: 320px) {
  .responsive {
    max-width: 250px;
  }

  .navLinks {
    display: none;
  }

  .heroContent {
    width: 100%;
    height: calc(100vh - 75px);
  }

  .heroContent h1 {
    font-size: 3rem;
  }

  .heroContent p {
    font-size: 1rem;
  }

  .content {
    padding: 2.5rem 0;
  }

  .content h2 {
    font-size: 2rem;
    margin-bottom: .5rem;
  }

  .content h3 {
    font-size: 1rem;
    margin-bottom: .5rem;
  }

  .content p {
    font-size: 1rem;
    margin-bottom: .5rem;
  }

  .buttons {
    width: 100%;
  }
}

@media screen and (min-width: 375px) {
  .responsive {
    max-width: 325px;
  }
}

@media screen and (min-width: 425px) {
  .responsive {
    max-width: 365px;
  }

  .heroContent {
    width: 100%;
    height: calc(100vh - 75px);
  }

  .heroContent h1 {
    font-size: 3.5rem;
  }

  .heroContent p {
    width: 80%;
    font-size: 1rem;
  }

  .content {
    padding: 2.5rem 0;
  }

  .content h2 {
    font-size: 2rem;
  }

  .content h3 {
    font-size: 1rem;
  }

  .content p {
    font-size: 1rem;
  }

  .buttons {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .responsive {
    max-width: 704px;
  }

  .navLinks {
    display: block;
  }

  .heroContent h1 {
    font-size: 6.5rem;
  }

  .heroContent p {
    font-size: 1.5rem;
  }

  .content {
    padding: 4.5rem 0;
  }

  .content h2 {
    font-size: 3.5rem;
  }

  .content h3 {
    font-size: 2rem;
  }

  .content p {
    font-size: 1.5rem;
  }

  .buttons button {
    color: var(--black);
    font-size: 1rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    margin-right: .5rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 5px;
    background-color: var(--grey1);
    transition: .15s ease-in-out;
  }

  .buttons button:hover {
    color: var(--grey1);
    background-color: var(--black);
  }

  .backToTop .responsive .content {
    padding-top: 0 !important;
  }

  .backToTop .responsive .content div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
  }

  .backToTop .responsive .content div a {
    color: #bbbbbb;
    transition: .15s ease-in-out;
  }

  .backToTop .responsive .content div a:hover {
    color: #afafaf;
  }

}

@media screen and (min-width: 992px) {
  .responsive {
    max-width: 936px;
  }
}

@media screen and (min-width: 1280px) {
  .responsive {
    max-width: 1168px;
  }
}